Terraform.gitignore	
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
uat_key.pub
uatkeypair.pem
uat_key